$main_color:#1093F1;
$blue :#1093F1;
$main_color_white_bk:#e7f4fe94;
$main_color_more_white_bk:#e1ebf926;
$gray:#999CA1;
$sky:#40A9F4;
$white_sky:rgb(64 169 244 / 12%);
$gray_more_white:#8080800d;
$dark_gray:#575757;
$gray_white:#eeeeee73;
$black:#4D515B;
$green:#43a047;
$red:darkred;


// fonts
$big:40px;
$semi_big:24px;
$normal:18px;
$button:14px;
$small:12px;

p{
  font-size: $normal;
}
a{
  font-size: $button !important;
  color:$blue;
  text-display: none;
}
h1{
  font-size: $big;
}

